@model List<Journey.Models.Habit>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/home.css" rel="stylesheet" />
</head>

<div class="content">
    <div class="sider-element"></div>
    <div class="container">
        <div class="habit-overview">
            @foreach (var habit in Model)
            {
                <div class="habit">
                    <div class="habit-left">
                        <h5 class="habit-name">@habit.Name</h5>
                        <p class="habit-count">@habit.DayCount in a row</p>
                    </div>
                    <div class="habit-right">
                        <a class="habit-friends">
                            <img class="habit-profile-pic" src="~/Images/profile_pic.jpg">
                            <img class="habit-profile-pic" src="~/Images/profile_pic.jpg">
                        </a>
                        <a class="habit-circle" id="delete-habit" onclick="deleteHabit(@habit.Id)"><img class="habit-button" src="~/Images/trash.svg"></a>
                        <a class="habit-circle"><img class="habit-button" src="~/Images/bars.svg"></a>
                        <a class="habit-complete"><img class="habit-button" src="~/Images/checkmark.svg"></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id="deletion-prompt">
    <h2 class="warning-message"></h2>
    @using (Html.BeginForm())
    {
        @Html.TextBox("id", new { @type = "number" }, new { @id = "input-id" })
        <div class="prompt-buttons">
            <button class="prompt-button" type="submit">
                Delete
            </button>
            <a class="prompt-button" href="@Url.Action("Index")">
                Cancel
            </a>
        </div>
    }
</div>

<script src="~/Scripts/delete_prompt.js"></script>