@model Journey.Models.Habit

@{
    ViewBag.Title = "Newhabit";
}
<head>
    <link href="~/Content/newhabit.css" rel="stylesheet" />
</head>

<div class="content">
    <div class="sider-element"></div>
    <div class="container">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create-habit" }))
        {
            <h1 class="page-title">New habit</h1>

            @Html.LabelFor(m => m.Name, new { @class = "label"})
            @Html.TextBoxFor(m => m.Name, new { @class = "text-input"})

            <label class="label" for="interval">Interval:</label>
            <div class="radio-button-list">
                <label class="radio-button">
                    <div class="button-text">@Html.RadioButtonFor(m => m.Interval, "daily", new { @class = "js-button" })<span class="radio-label">Daily</span></div>
                </label>
                <label class="radio-button">
                    <div class="button-text">@Html.RadioButtonFor(m => m.Interval, "weekly", new { @class = "js-button" })<span class="radio-label">Weekly</span></div>
                </label>
                <label class="radio-button">
                    <div class="button-text">@Html.RadioButtonFor(m => m.Interval, "monthly", new { @class = "js-button" })<span class="radio-label">Monthly</span></div>
                </label>
                <label class="radio-button">
                    <div class="button-text">@Html.RadioButtonFor(m => m.Interval, "custom", new { @class = "js-button" })<span class="radio-label">Custom</span></div>
                </label>
            </div>
            <button id="submit-button" type="submit"><img src="~/Images/checkmark.svg"></button>
        }
    </div>
</div>

<script src="~/Scripts/selection_color.js"></script>